html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body, #root{
    height: 100vh;
    margin: 0;
}
body, input, select, textarea{
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-container{
    display: grid;
    grid-template-areas: "header"
    "main"
    "footer";
    grid-template-rows: 5rem 1fr 5rem; 
                        /*HEadern main Footer  */
    grid-template-columns: 1fr;
    height: 100%;
}

a:hover{
    color: #ff8000;
}



header{
    grid-area:header;
    background-color: #203040;
    color: white;
    display: flex;
    align-items: center;
    padding: .5rem;
}
header a{
    color: white;

}


main{
    grid-area:main;
}

footer{
    grid-area:footer;
    background-color: #203040;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    display: flex;
    flex-wrap: wrap;
}
.main{
    flex: 3 60rem;
}

.sidebar{
    flex: 1 20rem;
}

/* Products */

.products{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
}

.products li{
    flex: 1 1 29rem;
    padding: 1rem;
    margin: 1rem;
}

.product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 100%; */


}

.product-principal{
    text-align: center;
    align-items: center;
    
}
.product-principal div{
    padding: .4rem;
}
.product img{
    width: 100%;
    max-height: 80rem;
    border-radius: 3rem;
    object-fit: cover;
   
}

.product-name{
    font-weight: 700;
 
    padding: 1rem;

    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    
}


.product-price{
    
    color: green;
    font-weight: bold;
    padding: 1rem;
}

.button{
    max-width: 37rem;
    border-radius: 1rem;
    height: 4rem;
    outline: none;
    font-size: 2rem;
 


}


/* filter */

.filter{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
    border-bottom: .1rem black solid;
}

.filter div{
    flex: 1;
}


.cart-header{
    margin-top: 5rem;
    border-top: 0.1rem #c0c0c0 solid;;
    border-bottom: 0.1rem #c0c0c0 solid;
}

.cart-items{
    padding: 0;
    width: 100%;
    list-style-type: none;
    
}

.cart-items img{
    width: 5rem;
}

.cart-items li{
    display: flex;

}

.cart-items li div{
    padding: .5rem;
}

.cart-items li div:last-child{
    flex: 1;
}

.cart-items button{
    max-width: 15rem;
    background-color: red;
    color: #fff;
    border-radius: .8rem;
    height: 5rem;
}

.right{
    text-align: right;
}

.total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.button-buy-cart{
    display: flex;
    margin: 1rem auto;
    width: 9rem;
    
    padding: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: .8rem;
}


.button-end{
    padding: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #296e29;
}

.total > div,
.total > button{
    flex: 1;
}


/* checkout */
form{
    width: 100%;
}
.form-container{
    width: 100%;

    padding: 0;
    list-style-type: none;

}

.form-container label{
    text-align: center;
}

.form-container li{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}



input{
    padding: 1rem;
    border: .1rem;
    border: 1px solid black;
    border-radius: 2rem;
}


/* product-details */

.product-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 96vh;
}

.product-details img{
    height: 600px;
    border-radius: 1rem;
    box-shadow: 8px 10px;
    margin: 0;
}

.product-details-description{
    flex: 1 1;
    margin: 3rem;
    
    text-align: center;
}
.close-modal{
    position: absolute;
    right: 1rem;
    top: 2.5rem;
    z-index: 1000;
    background-color: red;
}
.modal-price{
    color: green;
}

.button-modal{
    width: 15rem;
    height: 5rem;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: yellow;
    border-radius: .8rem;

}

/* ORDER DETAILS */

.order-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.order-details li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-details li div{
    padding: 10px;
}
.order-details .items{
    text-align: right;
    padding: 0;
}

.success-message{
    color: green;
}